<form action="/cart" method="DELETEW">
  <!-- <input type="number" value="1" min="0" size="2"/> -->
  <button class="btn" type="submit" name="productId"" value="<%=product.id%>">Remove From Cart</button>
</form>