<main>
  <h2>Add New Item</h2>
  <form class="product-form" action="/admin/add-product" method="POST">
    <div class="form-control">
      <label for="title">Item Title</label>
      <input type="text" id="title" name="title" />
    </div>
    <button type="submit">Add Item</button>
  </form>
</main>
