.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input{
    display: block;
}
.form-control label{
    font-weight: 600;
}
.form-control input{
    border: 1px solid rgb(49, 4, 104);
    margin: 0.5rem 0;
    padding: 0.5rem;
    font: inherit;
    font-size: 0.8rem;
    border-radius: 2rem;
}

.form-control input:focus {
    outline-color: rgb(49, 4, 104);
}
button{
    background-color: rgb(49, 4, 104);
    padding: .5rem;
    color: orange;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
  }